<mat-toolbar class="mat-toolbar-style">
  <span>
    <a routerLink="">
      <img
        src="../../../assets/betacom_logo-modified.png"
        alt="logo"
        class="logo"
        width="90"
        height="90"
      />
    </a>
  </span>

  <!-- The span right below the comment, gives the spacial distribution of the sidebar, pushing items left (those on top)
       and pushing right, the elements below the span -->
  <span class="flexExpand"></span>

  <span>
    <a mat-raised-button color="accent" routerLink="">
      <mat-icon>home</mat-icon> Home
    </a>
    <a mat-button routerLink="/signin">
      <mat-icon class="shareAndFollowStyle">arrow_drop_down_circle</mat-icon>
      Sign In</a
    >
    <a mat-button routerLink="/signup">
      <mat-icon class="shareAndFollowStyle">person_add</mat-icon>
      Sign Up</a
    >
    <a mat-button routerLink="/shop"
      ><mat-icon class="shareAndFollowStyle">shopping_cart</mat-icon>Shop</a
    >
    <a mat-button routerLink="/profile"
      ><mat-icon class="shareAndFollowStyle">person</mat-icon>Profile</a
    >
  </span>
</mat-toolbar>
