<div class="spacer">
  <mat-toolbar>
    <a class="betazonLinkClass" routerLink="">
      <mat-icon>eco</mat-icon>Betazon
    </a>

    <span class="spacer"></span>

    <a mat-raised-button color="accent" routerLink="">
      <mat-icon>home</mat-icon> Home
    </a>
    <a mat-button routerLink="/login">
      <mat-icon class="shareAndFollowStyle">arrow_drop_down_circle</mat-icon>
      Sign Up</a
    >
    <a mat-button routerLink="/shop"
      ><mat-icon class="shareAndFollowStyle">shopping_cart</mat-icon>Shop</a
    >
    <a mat-button routerLink="/profile"
      ><mat-icon class="shareAndFollowStyle">person</mat-icon>Profile</a
    >
  </mat-toolbar>
</div>

<router-outlet></router-outlet>

