<!-- Utilizing a mat-stepper for log-in Form -->

<div class="mainBg">
  <mat-stepper class="example-stepper" orientation="vertical" color="warn">
    <!-- Step 1 -->
    <mat-step [stepControl]="firstFormGroup" label="Credentials">
      <form [formGroup]="firstFormGroup">
        <mat-form-field
          appearance="outline"
          class="form-field-element"
          color="warn"
        >
          <mat-label>Email</mat-label>
          <input matInput placeholder="Insert Email" formControlName="email" />
        </mat-form-field>
        <mat-form-field
          appearance="outline"
          class="form-field-element"
          color="warn"
        >
          <mat-label>Password</mat-label>
          <input
            matInput
            placeholder="At least 6 characters, at least one number"
            formControlName="password"
          />
        </mat-form-field>
        <mat-form-field
          appearance="outline"
          class="form-field-element"
          color="warn"
        >
          <mat-label>Confirm Password</mat-label>
          <input
            matInput
            placeholder="Must match the password"
            formControlName="confirmPassword"
          />
        </mat-form-field>

        <div>
          <button
            class="button"
            class="button"
            mat-raised-button
            matStepperNext
          >
            Next
          </button>
        </div>
      </form>
    </mat-step>

    <!-- Step 2 -->
    <mat-step [stepControl]="secondFormGroup" label="Basic Info">
      <form [formGroup]="secondFormGroup">
        <mat-form-field
          appearance="outline"
          class="form-field-element"
          color="warn"
        >
          <mat-label>First Name</mat-label>
          <input
            matInput
            placeholder="Insert Name"
            formControlName="firstName"
          />
        </mat-form-field>
        <mat-form-field
          appearance="outline"
          class="form-field-element"
          color="warn"
        >
          <mat-label>Middle Name</mat-label>
          <input
            matInput
            placeholder="Insert Middle Name"
            formControlName="middleName"
          />
        </mat-form-field>
        <mat-form-field
          appearance="outline"
          class="form-field-element"
          color="warn"
        >
          <mat-label>Last Name</mat-label>
          <input
            matInput
            placeholder="Insert Last Name"
            formControlName="lastName"
          />
        </mat-form-field>
        <mat-form-field
          appearance="outline"
          class="form-field-element"
          color="warn"
        >
          <mat-label>Title</mat-label>
          <mat-select formControlName="title">
            <mat-option style="background-color: #f44336" value="Mr"
              >Mr.</mat-option
            >
            <mat-option style="background-color: #f44336" value="Ms"
              >Ms.</mat-option
            >
          </mat-select>
        </mat-form-field>
        <div>
          <button class="button" mat-raised-button matStepperPrevious>
            Back
          </button>
          <button class="button" mat-raised-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    Step 3
    <mat-step [stepControl]="thirdFormGroup" label="Company Info">
      <form [formGroup]="thirdFormGroup">
        <mat-form-field
          appearance="outline"
          class="form-field-element"
          color="warn"
        >
          <mat-label>Company Name</mat-label>
          <input
            matInput
            placeholder="Insert Company Name"
            formControlName="companyName"
          />
        </mat-form-field>
        <mat-form-field
          appearance="outline"
          class="form-field-element"
          color="warn"
        >
          <mat-label>Sales Address</mat-label>
          <input
            matInput
            placeholder="Insert Sales Address"
            formControlName="salesAddress"
          />
        </mat-form-field>
        <mat-form-field
          appearance="outline"
          class="form-field-element"
          color="warn"
        >
          <mat-label>Phone Number</mat-label>
          <input
            matInput
            placeholder="Insert Phone Number"
            formControlName="phoneNumber"
          />
        </mat-form-field>
        <div>
          <button class="button" mat-raised-button matStepperPrevious>
            Back
          </button>
          <button class="button" mat-raised-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <!-- Step 4 -->
    <mat-step>
      <ng-template matStepLabel>Sign Up</ng-template>
      <div>
        <button
          mat-raised-button
          class="signUpButton"
          [(ngModel)]="isSignUpButtonEnabled"
          (click)="signUpHandler()"
          [disabled]="
            firstFormGroup.invalid ||
            secondFormGroup.invalid ||
            thirdFormGroup.invalid
          "
        >
          <mat-icon>done_outline</mat-icon>
          Sign Up
        </button>
      </div>
    </mat-step>
  </mat-stepper>
</div>
