/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

html {
  height: 100%;
  background-color: #778da9;
  overflow: hidden;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  overflow: hidden;
}

/*

Main color (blueish) : #161E27

Secondary color (orange) : #C55530


*/
