<div class="mainBg">
  <div id="container">
    <form>
      <img src="../../../assets/betacom_logo-modified.png" /><br />
      <input
        type="text"
        placeholder="Email"
        style="color: aliceblue"
        (input)="updateEmail($event)"
      /><br />
      <input
        type="password"
        placeholder="Password"
        style="color: aliceblue"
        (input)="updatePassword($event)"
      /><br />
      <input type="submit" (click)="submitHandler()" value="SIGN IN" /><br />
      <span style="color: aliceblue">Forgot Password?</span>
    </form>
  </div>
</div>
