<div class="mainBg">
  <div id="container">
    <form>
      <img src="../../../assets/betacom_logo-modified.png" /><br />
      <input
        type="text"
        placeholder="Email"
        style="color: aliceblue"
        (input)="updateEmail($event)"
      /><br />
      <input
        type="password"
        placeholder="Password"
        style="color: aliceblue"
        (input)="updatePassword($event)"
      /><br />
      <input type="submit" (click)="submitHandler()" value="SIGN IN" /><br />
      <span style="color: aliceblue">Not Signed Yet?</span> <br /> <br />
      <span>
        <a routerLink="/signup" style="color: aliceblue">
          <button class="signupbtn">
            <span>Sign Up</span>
          </button>
        </a>
      </span>
    </form>
  </div>
</div>
