<div class="homeContainer">
  <!-- Welcome Text -->
  <div class="dimension">BETAZON</div>

  <!-- Buttons -->
  <div class="buttonsContainer">
    <!-- Figures -->
    <div></div>
    <div class="figuresContainer">
      <div id="cube">
        <figure class="cube1">the</figure>
        <figure class="cube2">of</figure>
        <figure class="cube3">bycicles</figure>
        <figure class="cube4">home</figure>
      </div>
    </div>
    <div></div>
    <div class="buttonWrapper">
      <a routerLink="/shop">
        <button class="btn btn_greenish">Products</button>
      </a>
    </div>
    <div class="buttonWrapper">
      <a routerLink="/signup">
        <button class="btn btn_greenish">Join Us</button>
      </a>
    </div>
    <div class="buttonWrapper">
      <a routerLink="/signin">
        <button class="btn btn_greenish">Sign In</button>
      </a>
    </div>
  </div>
</div>
