<!-- Form submit using single states for every input -->

<button
  style="margin: 10px"
  mat-raised-button
  color="accent"
  type="button"
  (click)="ShowFormHandler()"
>
  {{ signUpButtonLabelState ? "Close Sign Up" : "Sign Up" }}
</button>

<div
  [@openCloseSignUp]="isSignUpButtonOpen ? 'open' : 'closed'"
  class="open-close-container"
>
  <div *ngIf="isSignUpButtonOpen">
    <p>
      <mat-form-field appearance="fill" style="margin: 10px">
        <mat-label>Insert Username</mat-label>
        <input
          matInput
          (input)="userNameHandler($event)"
          placeholder="Username"
        />
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="fill" style="margin-left: 10px">
        <mat-label>Insert Password</mat-label>
        <input
          type="password"
          (input)="passwordHandler($event)"
          matInput
          placeholder="Password"
        />
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>
    </p>
    <button
      mat-raised-button
      color="warn"
      style="margin-left: 10px"
      (click)="submitHandler()"
    >
      <mat-icon>done</mat-icon>
      <span>Submit</span>
    </button>
  </div>
</div>

<hr />

<button
  style="margin: 10px"
  mat-raised-button
  color="accent"
  type="button"
  (click)="ShowOrHidePeopleHandler()"
>
  {{
    PeopleListButtonLabelState ? "Hide Registerd Users" : "Show Registerd Users"
  }}
</button>

<div
  [@openCloseShowRegisteredUsers]="
    PeopleListButtonLabelState ? 'open' : 'closed'
  "
  class="open-close-container"
>
  <div *ngIf="isPeopleListShown" class="TextColorClass">
    <mat-list *ngFor="let person of people">
      <mat-icon class="iconInLine">account_circle</mat-icon>
      <mat-list-item
        >User : {{ person.name }} | Password : {{ person.password }}
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
  </div>
</div>

<hr />

<!-- $Event Calculator -->

<button
  style="margin: 10px"
  mat-raised-button
  color="accent"
  type="button"
  (click)="ShowOrHideCalculatorHandler()"
>
  {{ calculatorButtonLabelState ? "Hide Calculator" : "Show Calculator" }}
</button>

<div
  [@openCloseCalculator]="calculatorButtonLabelState ? 'open' : 'closed'"
  class="open-close-container"
>
  <div *ngIf="isCalculatorOpen" class="TextColorClass">
    <mat-form-field appearance="fill" style="margin: 10px">
      <mat-label>First Operand</mat-label>
      <input
        type="text"
        matInput
        placeholder="First Operand"
        (input)="FirstAddingHandler($event)"
      />
    </mat-form-field>
    <mat-form-field appearance="fill" style="margin: 10px">
      <mat-label>Second Operand</mat-label>
      <input
        type="text"
        matInput
        placeholder="Second Operand"
        (input)="SecondAddingHandler($event)"
      />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Operation Sign</mat-label>
      <mat-select (selectionChange)="OperationSignHandler($event)">
        <mat-option value="add">+</mat-option>
        <mat-option value="substract">-</mat-option>
        <mat-option value="multiply">*</mat-option>
        <mat-option value="divide">/</mat-option>
      </mat-select>
    </mat-form-field>
    <div>
      <mat-form-field appearance="fill" color="accent" style="margin: 10px">
        <input
          type="text"
          matInput
          placeholder="Result"
          disabled
          value="{{ ResultHandler() }}"
        />
      </mat-form-field>
    </div>
  </div>
</div>

<hr />

<!-- Two Ways Binding Calculator -->

<button
  style="margin: 10px"
  mat-raised-button
  color="accent"
  type="button"
  (click)="ShowOrHideTwoWBCalculatorHandler()"
>
  {{
    twoWBCalculatorButtonLabelState
      ? "Hide Two Ways Binding Calculator"
      : "Show Two Ways Binding Calculator"
  }}
</button>

<div
  [@openCloseTwoWaysBindingCalculator]="
    twoWBCalculatorButtonLabelState ? 'open' : 'closed'
  "
  class="open-close-container"
>
  <div *ngIf="isTwoWBCalculatorOpen" class="TextColorClass">
    <mat-form-field appearance="fill" style="margin: 10px">
      <mat-label>First Operand</mat-label>
      <input
        type="text"
        matInput
        placeholder="First Operand"
        [(ngModel)]="TWBFirstAdding"
      />
    </mat-form-field>
    <mat-form-field appearance="fill" style="margin: 10px">
      <mat-label>Second Operand</mat-label>
      <input
        type="text"
        matInput
        placeholder="Second Operand"
        [(ngModel)]="TWBSecondAdding"
      />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Operation Sign</mat-label>
      <mat-select [(ngModel)]="TWBOperationSign">
        <mat-option value="add">+</mat-option>
        <mat-option value="substract">-</mat-option>
        <mat-option value="multiply">*</mat-option>
        <mat-option value="divide">/</mat-option>
      </mat-select>
    </mat-form-field>
    <div>
      <mat-form-field appearance="fill" color="accent" style="margin: 10px">
        <input
          type="text"
          color="accent"
          placeholder="Result"
          disabled
          value="{{ TWBResultHandler() }}"
        />
      </mat-form-field>
    </div>
  </div>
</div>

<hr />

<!-- Esercizio Claudio -->

<button
  style="margin: 10px"
  mat-raised-button
  color="accent"
  type="button"
  (click)="ShowOrHideClaudioExerciseHandler()"
>
  {{
    claudioExerciseButtonLabelState
      ? "Hide Claudio's Exercise"
      : "Show Claudio's Exercise"
  }}
</button>

<div
  [@openCloseClaudioExercise]="
    claudioExerciseButtonLabelState ? 'open' : 'closed'
  "
  class="open-close-container"
>
  <div
    [@openCloseClaudiosContentExercise]="
      isClaudioContentButtonLabelState ? 'open' : 'closed'
    "
    class="open-close-container"
  >
    <div *ngIf="isClaudioExerciseOpen" class="TextColorClass">
      <button
        style="margin: 10px"
        mat-raised-button
        color="accent"
        type="button"
        (click)="ShowOrHideClaudioContentButtonHandler()"
      >
        {{ isClaudioContentButtonLabelState ? "Hide Content" : "Show Content" }}
      </button>

      <div *ngIf="isClaudioContentButtonOpen">
        <p>
          Exercise 1 : String Interpolation ---> {{ stringaDiInterpolazione }}
        </p>
        <p>
          Exercise 2 : Property Binding
          <mat-form-field appearance="fill" color="accent" style="margin: 10px">
            <input
              type="text"
              matInput
              placeholder="Input some text"
              (input)="inputTextHandler($event)"
            />
          </mat-form-field>
          <button
            mat-raised-button
            [disabled]="isButtonDisabled"
            style="margin-left: 5px"
          >
            Simple Button
          </button>
        </p>
        <p>
          Exercise 3 : Event Binding
          <button
            mat-raised-button
            color="accent"
            style="margin-left: 5px"
            (click)="buttonClickHandler()"
          >
            Click Me
          </button>
        </p>
        <p>
          Exercise 4 : Two-Way Binding
          <mat-form-field appearance="fill" color="accent" style="margin: 10px">
            <input
              type="text"
              matInput
              placeholder="Input some text "
              [(ngModel)]="TWBInputText"
            />
          </mat-form-field>
        </p>
        <h3>{{ TWBInputText }}</h3>
      </div>
    </div>
  </div>
</div>

<hr />

<!-- <button mat-raised-button color="warn" (click)="changeStatus()">
  Cambia Stato
</button>

<div>
  <h1>This is the initial block</h1>
</div>
<div></div>
<div ng-template #elseBlock>
  <input
    type="text"
    mat-input
    placeholder="Color switch"
    *ngStyle="
      colorState
        ? { 'background-color': 'red' }
        : { 'background-color': 'blue' }
    "
  />
</div>-->
<!--
   <input
    type="text"
    mat-input
    placeholder="Color switch"
    *ngStyle="
      colorState
        ? { 'background-color': 'red' }
        : { 'background-color': 'blue' }
    "
  />
-->
