<div class="homeContainer">
  <!-- Welcome Text -->
  <p style="background-color: #222">
    <span class="decorated sample-3">NEON</span>
  </p>

  <!-- Figures -->

  <!-- Buttons -->
  <div class="buttonsContainer">
    <div></div>
    <div class="figuresContainer">
      <div id="cube">
        <figure class="cube1">Success.</figure>
        <figure class="cube2">History.</figure>
        <figure class="cube3">Growth.</figure>
        <figure class="cube4">Harmony.</figure>
      </div>
    </div>
    <div></div>
    <div class="buttonWrapper">
      <a routerLink="/shop">
        <button class="btn btn_greenish">Products</button>
      </a>
    </div>
    <div class="buttonWrapper">
      <a routerLink="/signup">
        <button class="btn btn_greenish">Join Us</button>
      </a>
    </div>
    <div class="buttonWrapper">
      <a routerLink="/signin">
        <button class="btn btn_greenish">Sign In</button>
      </a>
    </div>
  </div>
</div>
