.btn {
  --light-color: rgb(69, 252, 151);
  position: relative;
  appearance: none;
  border: none;
  color: #202c39;
  padding: 1rem 2rem;
  background-color: white;
  z-index: 2;
  overflow: hidden;
  border-radius: 0.8rem;
  box-shadow: 0.5rem 0.5rem 0.5rem #0005;
  transition: 0.3s;
  height: 80px;
  width: 170px;
  top: 60vh;
  left: 50%;
  transform: scale(1.5);
  font-size: 1.5rem;
  font-weight: 600;
}

.btn::before {
  position: absolute;
  width: 10rem;
  height: 10rem;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    transparent 0%,
    transparent 14%,
    transparent 35%,
    var(--light-color) 80%,
    var(--light-color) 100%
  );
  content: "";
  top: 50%;
  left: 50%;
  transform-origin: bottom center;
  transform: translate(-50%, -100%);
  z-index: -3;
  border-radius: 100%;

  animation: button_light_effect 3s linear infinite;
}

.btn::after {
  position: absolute;
  width: calc(100% - 0.3rem);
  height: calc(100% - 0.3rem);
  background-color: #fff;
  color: white;
  content: "";
  top: 50%;
  left: 50%;
  border-radius: 0.8rem;
  transform: translate(-50%, -50%);
  z-index: -3;
  transition: 1s;
}
.btn:hover {
  transform: scale(2.2);
  color: white;
}
.btn:hover,
.btn:hover::after {
  cursor: pointer;
  background: #202c39;
}
.btn:hover::before {
  animation-duration: 1s;
}
.btn_greenish {
  --light-color: #69f0ae;
}

@keyframes button_light_effect {
  0% {
    transform: translate(-50%, -100%) rotate(-180deg);
  }
  100% {
    transform: translate(-50%, -100%) rotate(180deg);
  }
}
